.section-mention-legales {
    padding:30px;
    border-radius: 5px;
    margin-top:80px;

    .mention-legales {
       text-align: left;

       h1 {
        text-align: center;
       }

       li {
        list-style: none;
       }
    }
}